.hero_home {

    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 200px 200px 100px 200px;
    justify-content: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #090C0E;
    overflow: hidden;

    & .background {

        & video {

            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 400px;
            object-fit: cover;
            z-index: 0;
            filter: brightness(0.6);

        }
    }

    & .conteudo {

        background-color: rgba(119, 119, 119, 0.7);
        color: white;
        z-index: 1;
        position: relative;
        border-radius: 80px;
        padding: 70px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 10px 0px 100px 0px #8b8b8b;

        & .barra {
            width: 60px;
            height: 2px;
            background-color: white;
            opacity: 0.5;
        }

        & barra:first-of-type {
            margin-bottom: 20px;
        }

        & barra:last-of-type {
            margin-top: 20px;
        }

        & span {
            font-size: 3.5rem;
            font-weight: 500;
            letter-spacing: 1px;
            display: block;
            margin-bottom: 12px;

        }

        & h1 {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 24px;
            padding-right: 200px;
            white-space: pre-line;
        }

        & button {
            background-color: #Fff;
            color: #000;
            border: none;
            border-radius: 20px;
            padding: 12px 24px;
            border-radius: 20px;
            font-size: 0.9rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.2 ease;
            margin-bottom: 24px;
        }

        & button:hover {
            transform: scale(1.05);
        }

    }
}

@media (max-width: 1355px) {

    .hero_home {

        padding: 300px 20px;
        max-height: 60vh;
        justify-content: center;

        & .background {

            & video {
                left: 0px;
            }
        }

        & .conteudo {

            margin-top: 400px;
            padding: 60px 40px;
            border-radius: 40px;
            text-align: center;            

            & .barra {
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }

            & .barra:last-of-type {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            & span {
                font-size: 2.5rem;
                margin-bottom: 10px;
            }

            & h1 {
                font-size: 1.8rem;
                padding-right: 0;
                line-height: 1.3;
            }

        }
    }
    
}