.home {

    display: flex;
    flex-direction: column;


    & .eyegen_ajuda {
        background-color: #fff;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 60px 20px;
        width: 100%;
        z-index: 1;
        

        & h1 {
            font-size: 3rem;
            background-color: #fff;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }



}