@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

header {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;


    & .nav {
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        display: flex;
        position: fixed;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        z-index: 20;
        padding: 10px 40px;

        & a {
            color: #fff;
            text-decoration: none;
            font-size: 1.2em;
            transition: 1s all;
        }

        & a:hover {
            background: -webkit-linear-gradient(#1877F2, #27C3EF, #33FFEC, #55A6F1, #7B42F6);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        & .logo {
            width: 70px;
        }

        & .nav_esquerda {
            display: flex;
            gap: 40px;
            align-items: center;
            padding-left: 60px;

            & .botao_geny {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #000;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 50px;
                transition: .3s all;
                text-decoration: none;
                overflow: hidden;
                height: 44px;

                & .perfil_geny {
                    background-image: url(../../assets/img/nav/perfil_geny.png);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 49px;
                    height: 75px;
                    margin-top: 10px;
                }

                & span {
                    font-family: "Exo 2", sans-serif;
                    background: -webkit-linear-gradient(#1877F2, #27C3EF, #33FFEC, #55A6F1, #7B42F6);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    font-weight: 600;
                    padding: 0 18px 5px 10px;
                    white-space: nowrap;
                }

                & img {
                    width: 80px;
                    height: 80px;
                }
            }

            & .botao_geny:hover {
                transform: scale(1.05);
                opacity: 0.9;
            }
        }

        & .nav_direita {
            display: flex;
            gap: 40px;
            align-items: center;
            padding-right: 100px;

            & .cadastrar {
                border-radius: 10px;
                padding: 8px;
                transition: .3s all;

                & a {
                    color: #000;
                    text-decoration: none;
                }
            }

            & .cadastrar:hover {
                transform: scale(1.1);
            }
        }
    }

    & .menu_hamburger {
        display: none;
        font-size: 2.5rem;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 22;
    }

    & .menu_mobile_overlay {
        position: fixed;
        top: 0;
        right: -100%;
        width: 85%;
        max-width: 350px;
        height: 550px;
        background-color: #000;
        z-index: 30;
        transition: right 0.4s ease-in-out;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        & .menu_mobile_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & .logo_mobile {
                width: 60px;
            }

            & .botao_fechar {
                font-size: 2.5rem;
                color: #fff;
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        & .menu_mobile_botoes_topo {
            display: flex;
            gap: 15px;
            align-items: center;
            margin-top: 30px;
            padding-bottom: 20px;
            border-bottom: 1px solid #444;

            & .cadastrar_mobile {
                background-color: #fff;
                border: none;
                border-radius: 8px;
                padding: 10px 15px;

                & a {
                    color: #000;
                    text-decoration: none;
                    font-size: 1.1rem;
                }
            }

            & .entrar_mobile {
                color: #fff;
                text-decoration: none;
                font-size: 1.1rem;
                font-weight: 500;
            }
        }

        & .menu_mobile_links {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            gap: 25px;

            & a {
                color: #fff;
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 500;
            }

            & .botao_geny_mobile {
                display: flex;
                align-items: center;
                border: 1px solid #fff;
                border-radius: 50px;
                background-color: #000;
                width: fit-content;
                height: 40px;

                & img {
                    width: 60px;
                    height: 50px;
                    object-fit: cover;
                    margin-top: 10px;
                    margin-left: -10px;
                }

                & span {
                    background: -webkit-linear-gradient(#1877F2, #27C3EF, #33FFEC, #55A6F1, #7B42F6);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    padding-right: 15px;
                    font-weight: 600;
                }
            }
        }

    }

    & .menu_mobile_overlay.ativo {
        right: 0;
        box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
    }
}


@media (max-width: 1355px) {

    header {

        & .nav {

            & .nav_esquerda,
            .nav_direita {
                display: none;
            }
        }

        .menu_hamburger {
            display: block;
        }

        .nav {
            padding: 10px 20px;
            justify-content: flex-end
        }
    }
}