* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#root {
    overflow-y: auto;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5fbff; /* um cinza bem clarinho como no layout */
}
